h1 {
    color: rgb(23, 24, 124);
    font-family: comic sans-serif;
    text-align: center;
  }
  h2 {
    color: rgb(23, 24, 124)
    font-family: comic sans-serif;
    text-align: center;
  }
  h3 {
    color: teal;
    font-family: comic sans-serif;
    text-align: left;
  }    
  h4 {
    color:black;
    font-family:comic sans-serif; 
    text-align: left;
    font-weight: bold;
    font-size: large;
  }
  p {
    font-family: Arial;
  }
  
  .highlight {
    background-color: yellow;
  }
  
  ol {
    text-decoration: none;
    font-family: arial;
    color: rgb(14, 13, 14);
    font-weight: bold;
  }
  body {
    background-color:rgb(204, 255, 255)
  } 
  td {
    text-align: left;
  }
  th {
    text-align: left;
  }